## Cluster with K-means

In [1]:
import pandas as pd

In [13]:
data = pd.read_csv('normalized.csv')
data = data[data.columns[1:]]
X = data[data.columns[4:]]

In [14]:
from sklearn.cluster import KMeans
KM=KMeans(n_clusters=3,random_state=999)
scor=KM.fit_predict(X)

# distance to each cluster center
res=pd.DataFrame(KM.transform(X))
res.head()

              0             1             2
0  64542.391084  44925.122235  66074.307618
1  64542.395658  44925.108661  66074.369891
2  64542.395129  44925.109653  66074.364348
3  64542.399588  44925.103212  66074.405564
4  64542.398567  44925.104372  66074.397027

In [20]:
# add cluster and distance information for each data record
res=pd.DataFrame(KM.transform(X))
res=pd.concat((res,pd.DataFrame(KM.fit_predict(X))),axis=1)
res.columns=list(range(3))+["cluster"]
res.loc[:,"score"]=res.apply(lambda x: x[int(x["cluster"])],axis=1)

# find data records farthest from cluster centers
res.sort_values("score",ascending=False)[:5]

                  0              1              2  cluster          score
2864  180764.025768  154015.750951  132695.542217        2  132695.542217
2865  180764.024803  154015.750399  132695.538056        2  132695.538056
2240  160665.801582  156800.402232   61757.027826        2   61757.027826
2241  160665.806768  156800.409543   61757.019915        2   61757.019915
2216  157179.602306  153800.169814   58220.526323        2   58220.526323

In [16]:
# check for tiny clusters
print(res['cluster'].value_counts())

0    1824
1    1360
2     297
Name: cluster, dtype: int64

In [22]:
# highest score index
highest_index = res.sort_values("score",ascending=False)[:5].index

In [26]:
#community district with highest cluster distance
for index in highest_index:
  print(data.loc[index].CD)

QN07
QN07
MN08
MN08
MN08