In [43]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_columns',None)

In [44]:
df = pd.read_csv(r'C:\Users\Gabriel\OneDrive\CUSP\Spring 2022 Classes\ML for Cities\Final project\NYCclean_ML4C\Data\final_data_3481.csv')
df.head()

,Unnamed: 0,CD,Year,Month,dirty_level,Count311,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,fs_openhours,fs_open,trs_permits,paper_baskets,mgp_baskets,total_number_of_households,hh_compost_num,hh_compost_percent,shape_area,wfr_avg_recycling,wfr_avg_refuse,wfr_avg_bulk,bigbelly,seasonal_wire_litter_basket,highend_basket,publicspacereceptacle,wire_basket,total_litter_baskets,pct_bach_deg,over65_rate,under18_rate,pct_white_nh,poverty_rate,pct_hh_rent_burd,mean_commute,unemployment,crime_per_1000,pop_density,numbldgs,unitstotal,asland_sqft,pct_clean_strts,pct_lot_area_open_space,pct_lot_area_public_facility_institution,pct_lot_area_res_1_2_family_bldg,pct_lot_area_res_multifamily_walkup,restaurant,business
0,0,BK01,2016,11,2,50,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,984
1,1,BK01,2016,12,2,36,5409.5,726.3,501.0,11.7,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,915
2,2,BK01,2017,1,2,51,5189.9,589.1,455.2,14.9,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,921
3,3,BK01,2017,2,3,61,4705.4,505.6,395.8,10.5,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,877
4,4,BK01,2017,3,3,67,5476.7,563.0,453.3,10.6,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,886

In [45]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

## Normalize some variables by population or land area

In [46]:
norms = pd.read_csv(r'C:\Users\Gabriel\OneDrive\CUSP\Spring 2022 Classes\ML for Cities\Final project\NYCclean_ML4C\Data\ses_initial_combined.csv')
norms = norms[['borocd','borough','pop_2010','area_sqmi']]
norms.head()

   borocd borough  pop_2010  area_sqmi
0     201   Bronx     91497   2.166633
1     202   Bronx     52246   2.218793
2     203   Bronx     79762   1.607575
3     206   Bronx     83268   1.530401
4     204   Bronx    146441   1.992040

In [47]:
norms['borough'] = norms['borough'].replace({'Manhattan':'MN','Brooklyn':'BK','Queens':'QN','Staten Island':'SI','Bronx':'BX'})
norms['borocd'] = norms['borocd'].astype(str).str[1:]
norms['CD'] = norms['borough'] + norms['borocd']
norms.head()

  borocd borough  pop_2010  area_sqmi    CD
0     01      BX     91497   2.166633  BX01
1     02      BX     52246   2.218793  BX02
2     03      BX     79762   1.607575  BX03
3     06      BX     83268   1.530401  BX06
4     04      BX    146441   1.992040  BX04

In [48]:
df = pd.merge(df,norms[['pop_2010','area_sqmi','CD']],how='left',left_on='CD',right_on='CD')

In [49]:
#variables to normalize by population: 
popnorms = ['Count311', 'REFUSETONSCOLLECTED','PAPERTONSCOLLECTED', 'MGPTONSCOLLECTED', 'RESORGANICSTONS']

#variables to normalize by land area
areanorms = ['paper_baskets','mgp_baskets','seasonal_wire_litter_basket', 'highend_basket',
       'publicspacereceptacle', 'wire_basket', 'total_litter_baskets', 'fs_open','restaurant', 'business']

# drop hh_compost_num, pct_clean_strts, pop2010,

In [50]:
#normalize by population
for c in popnorms:
    df[f'{c}_pp'] = df[c] / df['pop_2010']

In [51]:
#normalize by land area
for c in areanorms:
    df[f'{c}_sqmi'] = df[c] / df['area_sqmi']

In [52]:
df.head()

,CD,Year,Month,dirty_level,Count311,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,fs_openhours,fs_open,trs_permits,paper_baskets,mgp_baskets,total_number_of_households,hh_compost_num,hh_compost_percent,shape_area,wfr_avg_recycling,wfr_avg_refuse,wfr_avg_bulk,bigbelly,seasonal_wire_litter_basket,highend_basket,publicspacereceptacle,wire_basket,total_litter_baskets,pct_bach_deg,over65_rate,under18_rate,pct_white_nh,poverty_rate,pct_hh_rent_burd,mean_commute,unemployment,crime_per_1000,pop_density,numbldgs,unitstotal,asland_sqft,pct_clean_strts,pct_lot_area_open_space,pct_lot_area_public_facility_institution,pct_lot_area_res_1_2_family_bldg,pct_lot_area_res_multifamily_walkup,restaurant,business,pop_2010,area_sqmi,Count311_pp,REFUSETONSCOLLECTED_pp,PAPERTONSCOLLECTED_pp,MGPTONSCOLLECTED_pp,RESORGANICSTONS_pp,paper_baskets_sqmi,mgp_baskets_sqmi,seasonal_wire_litter_basket_sqmi,highend_basket_sqmi,publicspacereceptacle_sqmi,wire_basket_sqmi,total_litter_baskets_sqmi,fs_open_sqmi,restaurant_sqmi,business_sqmi
0,BK01,2016,11,2,50,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,984,173083,4.725671,0.000289,0.030335,0.003049,0.002327,0.000098,1.904491,1.904491,0.0,0.42322,0.21161,2.116101,2.962542,1.269661,45.919401,208.224379
1,BK01,2016,12,2,36,5409.5,726.3,501.0,11.7,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,915,173083,4.725671,0.000208,0.031254,0.004196,0.002895,0.000068,1.904491,1.904491,0.0,0.42322,0.21161,2.116101,2.962542,1.269661,45.919401,193.623279
2,BK01,2017,1,2,51,5189.9,589.1,455.2,14.9,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,921,173083,4.725671,0.000295,0.029985,0.003404,0.002630,0.000086,1.904491,1.904491,0.0,0.42322,0.21161,2.116101,2.962542,1.269661,45.919401,194.892940
3,BK01,2017,2,3,61,4705.4,505.6,395.8,10.5,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,877,173083,4.725671,0.000352,0.027186,0.002921,0.002287,0.000061,1.904491,1.904491,0.0,0.42322,0.21161,2.116101,2.962542,1.269661,45.919401,185.582094
4,BK01,2017,3,3,67,5476.7,563.0,453.3,10.6,333.25,6.0,14.0,9.0,9.0,92610,9745,0.105226,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,47.0,9.3,24.0,61.3,15.4,40.7,34.3,4.0,10.9,36626.118079,17147,100971,10.78427,86.4,5.19,5.33,5.25,16.9,217,886,173083,4.725671,0.000387,0.031642,0.003253,0.002619,0.000061,1.904491,1.904491,0.0,0.42322,0.21161,2.116101,2.962542,1.269661,45.919401,187.486585

In [53]:
df.columns

Index(['CD', 'Year', 'Month', 'dirty_level', 'Count311', 'REFUSETONSCOLLECTED',
       'PAPERTONSCOLLECTED', 'MGPTONSCOLLECTED', 'RESORGANICSTONS',
       'fs_openhours', 'fs_open', 'trs_permits', 'paper_baskets',
       'mgp_baskets', 'total_number_of_households', 'hh_compost_num',
       'hh_compost_percent', 'shape_area', 'wfr_avg_recycling',
       'wfr_avg_refuse', 'wfr_avg_bulk', 'bigbelly',
       'seasonal_wire_litter_basket', 'highend_basket',
       'publicspacereceptacle', 'wire_basket', 'total_litter_baskets',
       'pct_bach_deg', 'over65_rate', 'under18_rate', 'pct_white_nh',
       'poverty_rate', 'pct_hh_rent_burd', 'mean_commute', 'unemployment',
       'crime_per_1000', 'pop_density', 'numbldgs', 'unitstotal',
       'asland_sqft', 'pct_clean_strts', 'pct_lot_area_open_space',
       'pct_lot_area_public_facility_institution',
       'pct_lot_area_res_1_2_family_bldg',
       'pct_lot_area_res_multifamily_walkup', 'restaurant', 'business',
       'pop_2010', 'area_sqmi', 'Count311_pp', 'REFUSETONSCOLLECTED_pp',
       'PAPERTONSCOLLECTED_pp', 'MGPTONSCOLLECTED_pp', 'RESORGANICSTONS_pp',
       'paper_baskets_sqmi', 'mgp_baskets_sqmi',
       'seasonal_wire_litter_basket_sqmi', 'highend_basket_sqmi',
       'publicspacereceptacle_sqmi', 'wire_basket_sqmi',
       'total_litter_baskets_sqmi', 'fs_open_sqmi', 'restaurant_sqmi',
       'business_sqmi'],
      dtype='object')

In [54]:
#remove the non-normalized columns
df = df[['CD', 'Year', 'Month', 'dirty_level', 'Count311_pp', 
       'fs_openhours', 'trs_permits',
       'total_number_of_households',
       'hh_compost_percent', 'wfr_avg_recycling',
       'wfr_avg_refuse', 'wfr_avg_bulk',
       'pct_bach_deg', 'over65_rate', 'under18_rate', 'pct_white_nh',
       'poverty_rate', 'pct_hh_rent_burd', 'mean_commute', 'unemployment',
       'crime_per_1000', 'pop_density', 'numbldgs', 'unitstotal',
       'asland_sqft', 'pct_clean_strts', 'pct_lot_area_open_space',
       'pct_lot_area_public_facility_institution',
       'pct_lot_area_res_1_2_family_bldg',
       'pct_lot_area_res_multifamily_walkup','REFUSETONSCOLLECTED_pp',
       'PAPERTONSCOLLECTED_pp', 'MGPTONSCOLLECTED_pp', 'RESORGANICSTONS_pp',
       'paper_baskets_sqmi', 'mgp_baskets_sqmi',
       'seasonal_wire_litter_basket_sqmi', 'highend_basket_sqmi',
       'publicspacereceptacle_sqmi', 'wire_basket_sqmi',
       'total_litter_baskets_sqmi', 'fs_open_sqmi', 'restaurant_sqmi',
       'business_sqmi']]

In [55]:
#rediscretize the dirty_level data based on 311 calls per population
df['dirty_level'] = pd.qcut(df.Count311_pp,3,labels=[1,2,3])

In [56]:
df.shape

(3481, 44)

In [57]:
df.to_csv('final_merged_normalized_discretized.csv')