In [300]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [301]:
swm = pd.read_csv('swm_infrastructure.csv')
ses = pd.read_csv('ses_predictors_v2.csv')
lu = pd.read_csv('landuse_predictors_v4.csv')
df311 = pd.read_csv('311_cleaned.csv')

## Data exploration

In [302]:
swm.head()

,Unnamed: 0,cd,boro,date,year,month,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,...,shape_area,wfr_avg_recycling,wfr_avg_refuse,wfr_avg_bulk,bigbelly,seasonal_wire_litter_basket,highend_basket,publicspacereceptacle,wire_basket,total_litter_baskets
0,0,BK01,BK,2016-11-01,2016,11,5250.4,527.8,402.8,16.9,...,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0
1,1,BK01,BK,2016-12-01,2016,12,5409.5,726.3,501.0,11.7,...,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0
2,2,BK01,BK,2017-01-01,2017,1,5189.9,589.1,455.2,14.9,...,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0
3,3,BK01,BK,2017-02-01,2017,2,4705.4,505.6,395.8,10.5,...,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0
4,4,BK01,BK,2017-03-01,2017,3,5476.7,563.0,453.3,10.6,...,0.001307,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0

In [303]:
swm.shape #checking that lengths of all the dfs align

(3540, 28)

In [304]:
ses.head()

,Unnamed: 0,Unnamed: 0.1,borocd,pct_bach_deg,over65_rate,under18_rate,pct_white_nh,poverty_rate,pct_hh_rent_burd,mean_commute,unemployment,crime_per_1000,pop_density,month,borough_no,cd,borough_code,community_district
0,0,0,201,11.3,9.0,29.7,2.1,32.3,49.4,42.5,6.4,21.7,42230.049029,2016-11-01,2,1,BX,BX01
1,1,1,202,14.2,9.2,27.5,1.9,32.3,53.8,44.9,6.4,12.3,23547.039187,2016-11-01,2,2,BX,BX02
2,2,2,203,14.1,9.2,29.1,1.2,31.4,48.0,43.9,6.6,13.6,49616.354945,2016-11-01,2,3,BX,BX03
3,3,3,206,12.6,9.6,28.3,6.1,31.4,55.1,44.4,8.4,12.0,54409.272313,2016-11-01,2,6,BX,BX06
4,4,4,204,15.8,9.7,27.7,1.9,34.7,54.0,41.9,6.4,14.6,73513.072409,2016-11-01,2,4,BX,BX04

In [305]:
ses.shape  #checking that lengths of all the dfs align

(3540, 18)

In [306]:
lu.head()

,month,community_district,numbldgs,unitstotal,asland_sqft,pct_clean_strts,pct_lot_area_open_space,pct_lot_area_public_facility_institution,pct_lot_area_res_1_2_family_bldg,pct_lot_area_res_multifamily_walkup,restaurant,business
0,11/1/16,MN01,1760,55988,79.282161,100.0,4.35,31.68,0.17,0.63,3295,683
1,11/1/16,MN02,5375,72165,100.324753,98.7,3.55,9.63,4.47,10.26,1271,1013
2,11/1/16,MN03,4708,94059,58.236802,93.4,14.95,11.15,0.32,8.66,580,947
3,11/1/16,MN04,3923,100090,105.402387,100.0,2.81,11.75,0.88,7.68,964,1014
4,11/1/16,MN05,3190,95425,516.066825,100.0,1.59,6.49,0.09,0.67,270,2083

In [308]:
lu.shape

(3540, 14)

In [309]:
df311.head()

   Unnamed: 0    CD Year_Month  Year  Month  Count
0           0  BK01    2016-11  2016     11     50
1           1  BK01    2016-12  2016     12     36
2           2  BK01    2017-01  2017      1     51
3           3  BK01    2017-02  2017      2     61
4           4  BK01    2017-03  2017      3     67

In [310]:
df311.shape

(3523, 6)

## Data cleaning

### swm

In [311]:
swm.columns

Index(['Unnamed: 0', 'cd', 'boro', 'date', 'year', 'month',
       'REFUSETONSCOLLECTED', 'PAPERTONSCOLLECTED', 'MGPTONSCOLLECTED',
       'RESORGANICSTONS', 'fs_openhours', 'fs_open', 'trs_permits',
       'paper_baskets', 'mgp_baskets', 'total_number_of_households',
       'hh_compost_num', 'hh_compost_percent', 'shape_area',
       'wfr_avg_recycling', 'wfr_avg_refuse', 'wfr_avg_bulk', 'bigbelly',
       'seasonal_wire_litter_basket', 'highend_basket',
       'publicspacereceptacle', 'wire_basket', 'total_litter_baskets'],
      dtype='object')

In [312]:
swm['Year_Month'] = pd.to_datetime(swm['date']).dt.to_period('M')
swm = swm.drop(['Unnamed: 0','boro','date'],axis=1)

In [313]:
swm['Year_Month'].unique()

<PeriodArray>
['2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05',
 '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
 '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
 '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02',
 '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09',
 '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04',
 '2020-05', '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11',
 '2020-12', '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
 '2021-07', '2021-08', '2021-09', '2021-10']
Length: 60, dtype: period[M]

In [314]:
swm.dtypes

cd                                object
year                               int64
month                              int64
REFUSETONSCOLLECTED              float64
PAPERTONSCOLLECTED               float64
MGPTONSCOLLECTED                 float64
RESORGANICSTONS                  float64
fs_openhours                     float64
fs_open                          float64
trs_permits                      float64
paper_baskets                    float64
mgp_baskets                      float64
total_number_of_households         int64
hh_compost_num                     int64
hh_compost_percent               float64
shape_area                       float64
wfr_avg_recycling                float64
wfr_avg_refuse                   float64
wfr_avg_bulk                     float64
bigbelly                         float64
seasonal_wire_litter_basket      float64
highend_basket                   float64
publicspacereceptacle            float64
wire_basket                      float64
total_litter_baskets             float64
Year_Month                     period[M]
dtype: object

In [315]:
swm.rename({'cd':'CD','year':'Year','month':'Month'},inplace=True,axis=1)
swm.head()

,CD,Year,Month,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,fs_openhours,fs_open,trs_permits,...,wfr_avg_recycling,wfr_avg_refuse,wfr_avg_bulk,bigbelly,seasonal_wire_litter_basket,highend_basket,publicspacereceptacle,wire_basket,total_litter_baskets,Year_Month
0,BK01,2016,11,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,...,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2016-11
1,BK01,2016,12,5409.5,726.3,501.0,11.7,333.25,6.0,14.0,...,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2016-12
2,BK01,2017,1,5189.9,589.1,455.2,14.9,333.25,6.0,14.0,...,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2017-01
3,BK01,2017,2,4705.4,505.6,395.8,10.5,333.25,6.0,14.0,...,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2017-02
4,BK01,2017,3,5476.7,563.0,453.3,10.6,333.25,6.0,14.0,...,1.0,3.0,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2017-03

### ses

In [316]:
ses['Year_Month'] = pd.to_datetime(ses['month']).dt.to_period('M')
ses['Year'] = ses['Year_Month'].dt.year
ses['Month'] = ses['Year_Month'].dt.month

In [317]:
ses = ses.drop(['Unnamed: 0','Unnamed: 0.1','borocd','borough_no','cd','borough_code'],axis=1)

In [318]:
ses.rename({'community_district':'CD'},inplace=True,axis=1)
ses.head()

,pct_bach_deg,over65_rate,under18_rate,pct_white_nh,poverty_rate,pct_hh_rent_burd,mean_commute,unemployment,crime_per_1000,pop_density,month,CD,Year_Month
0,11.3,9.0,29.7,2.1,32.3,49.4,42.5,6.4,21.7,42230.049029,2016-11-01,BX01,2016-11
1,14.2,9.2,27.5,1.9,32.3,53.8,44.9,6.4,12.3,23547.039187,2016-11-01,BX02,2016-11
2,14.1,9.2,29.1,1.2,31.4,48.0,43.9,6.6,13.6,49616.354945,2016-11-01,BX03,2016-11
3,12.6,9.6,28.3,6.1,31.4,55.1,44.4,8.4,12.0,54409.272313,2016-11-01,BX06,2016-11
4,15.8,9.7,27.7,1.9,34.7,54.0,41.9,6.4,14.6,73513.072409,2016-11-01,BX04,2016-11

### lu

In [307]:
# extracting date & month 
lu['month'] = pd.to_datetime(lu['month'])
lu['Year'] = lu['month'].dt.year
lu['Month'] = lu['month'].dt.month

In [319]:
lu['Year_Month'] = pd.to_datetime(ses['month']).dt.to_period('M')

In [320]:
lu.rename({'community_district':'CD'},inplace=True,axis=1)
lu.head()

,month,CD,numbldgs,unitstotal,asland_sqft,pct_clean_strts,pct_lot_area_open_space,pct_lot_area_public_facility_institution,pct_lot_area_res_1_2_family_bldg,pct_lot_area_res_multifamily_walkup,restaurant,business,Year,Month,Year_Month
0,2016-11-01,MN01,1760,55988,79.282161,100.0,4.35,31.68,0.17,0.63,3295,683,2016,11,2016-11
1,2016-11-01,MN02,5375,72165,100.324753,98.7,3.55,9.63,4.47,10.26,1271,1013,2016,11,2016-11
2,2016-11-01,MN03,4708,94059,58.236802,93.4,14.95,11.15,0.32,8.66,580,947,2016,11,2016-11
3,2016-11-01,MN04,3923,100090,105.402387,100.0,2.81,11.75,0.88,7.68,964,1014,2016,11,2016-11
4,2016-11-01,MN05,3190,95425,516.066825,100.0,1.59,6.49,0.09,0.67,270,2083,2016,11,2016-11

### 311

In [321]:
df311.head()

   Unnamed: 0    CD Year_Month  Year  Month  Count
0           0  BK01    2016-11  2016     11     50
1           1  BK01    2016-12  2016     12     36
2           2  BK01    2017-01  2017      1     51
3           3  BK01    2017-02  2017      2     61
4           4  BK01    2017-03  2017      3     67

In [322]:
df311['Year_Month'] = pd.to_datetime(ses['month']).dt.to_period('M')
df311.dtypes

Unnamed: 0        int64
CD               object
Year_Month    period[M]
Year              int64
Month             int64
Count             int64
dtype: object

In [323]:
df311.rename({'Count':'Count311'},axis=1,inplace=True)

In [324]:
df311 = df311.drop(['Unnamed: 0'],axis =1)

In [325]:
df311.shape

(3523, 5)

In [326]:
df311.head()

     CD Year_Month  Year  Month  Count311
0  BK01    2016-11  2016     11        50
1  BK01    2016-11  2016     12        36
2  BK01    2016-11  2017      1        51
3  BK01    2016-11  2017      2        61
4  BK01    2016-11  2017      3        67

In [327]:
df311['Year_Month'].nunique()
df311.shape # df311 has different length than the other datasets

(3523, 5)

In [328]:
# which CDs have incomplete data? 
size = pd.DataFrame(df311.groupby(by='CD').size())
size[size[0] < 60]

       0
CD
BK02  59
BK07  59
BX03  59
BX04  59
BX05  59
BX08  59
BX11  59
MN05  59
MN06  59
MN07  59
MN08  59
MN09  59
MN12  59
QN02  59
QN03  59
QN04  59
QN08  59

In [329]:
# which months have incomplete data? 
size = pd.DataFrame(df311.groupby(by='Year_Month').size())
size[size[0] < 59]

             0
Year_Month
2021-10     42

In [330]:
df311 = df311[df311['Year_Month'] != '2021-10']
df311.shape

# 42 rows lost by removing 2021-10.

# not certain if there are exogenic shocks that affected CDs differentially during this month
# such that some CDs did not have make any 311 reports at all, despite
# consistently having done so for all previous months. 
# so a decision was made to remove this month entirely.

(3481, 5)

## MERGING: The Merge.

In [334]:
merge1 = swm.merge(df311, on=['Year', 'Month', 'CD'])
merge1.shape

(3481, 28)

In [335]:
merge1.head()

,CD,Year,Month,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,fs_openhours,fs_open,trs_permits,...,wfr_avg_bulk,bigbelly,seasonal_wire_litter_basket,highend_basket,publicspacereceptacle,wire_basket,total_litter_baskets,Year_Month_x,Year_Month_y,Count311
0,BK01,2016,11,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,...,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2016-11,2016-11,50
1,BK01,2016,12,5409.5,726.3,501.0,11.7,333.25,6.0,14.0,...,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2016-12,2016-11,36
2,BK01,2017,1,5189.9,589.1,455.2,14.9,333.25,6.0,14.0,...,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2017-01,2016-11,51
3,BK01,2017,2,4705.4,505.6,395.8,10.5,333.25,6.0,14.0,...,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2017-02,2016-11,61
4,BK01,2017,3,5476.7,563.0,453.3,10.6,333.25,6.0,14.0,...,3.0,1.0,0.0,2.0,1.0,10.0,14.0,2017-03,2016-11,67

In [337]:
merge2 = pd.merge(merge1, ses, on=['Year', 'Month', 'CD'])
merge2.shape

(3481, 40)

In [352]:
merge3 = merge2.merge(lu, on=['Year', 'Month', 'CD'], indicator=True, how='left')
merge3.shape

(3481, 53)

In [353]:
len(merge3[merge3['_merge']!='both']) # check that the merge was all good

0

In [363]:
merge3.columns

Index(['CD', 'Year', 'Month', 'REFUSETONSCOLLECTED', 'PAPERTONSCOLLECTED',
       'MGPTONSCOLLECTED', 'RESORGANICSTONS', 'fs_openhours', 'fs_open',
       'trs_permits', 'paper_baskets', 'mgp_baskets',
       'total_number_of_households', 'hh_compost_num', 'hh_compost_percent',
       'shape_area', 'wfr_avg_recycling', 'wfr_avg_refuse', 'wfr_avg_bulk',
       'bigbelly', 'seasonal_wire_litter_basket', 'highend_basket',
       'publicspacereceptacle', 'wire_basket', 'total_litter_baskets',
       'Year_Month_x', 'Year_Month_y', 'Count311', 'pct_bach_deg',
       'over65_rate', 'under18_rate', 'pct_white_nh', 'poverty_rate',
       'pct_hh_rent_burd', 'mean_commute', 'unemployment', 'crime_per_1000',
       'pop_density', 'month_x', 'Year_Month_x', 'month_y', 'numbldgs',
       'unitstotal', 'asland_sqft', 'pct_clean_strts',
       'pct_lot_area_open_space', 'pct_lot_area_public_facility_institution',
       'pct_lot_area_res_1_2_family_bldg',
       'pct_lot_area_res_multifamily_walkup', 'restaurant', 'business',
       'Year_Month_y', '_merge'],
      dtype='object')

In [369]:
merge_final = merge3.drop(['Year_Month_x',
                           'month_x', 'month_y',
                           '_merge'],axis =1)

In [365]:
merge_final.shape

(3481, 46)

In [368]:
merge_final.columns

Index(['CD', 'Year', 'Month', 'REFUSETONSCOLLECTED', 'PAPERTONSCOLLECTED',
       'MGPTONSCOLLECTED', 'RESORGANICSTONS', 'fs_openhours', 'fs_open',
       'trs_permits', 'paper_baskets', 'mgp_baskets',
       'total_number_of_households', 'hh_compost_num', 'hh_compost_percent',
       'shape_area', 'wfr_avg_recycling', 'wfr_avg_refuse', 'wfr_avg_bulk',
       'bigbelly', 'seasonal_wire_litter_basket', 'highend_basket',
       'publicspacereceptacle', 'wire_basket', 'total_litter_baskets',
       'Count311', 'pct_bach_deg', 'over65_rate', 'under18_rate',
       'pct_white_nh', 'poverty_rate', 'pct_hh_rent_burd', 'mean_commute',
       'unemployment', 'crime_per_1000', 'pop_density', 'numbldgs',
       'unitstotal', 'asland_sqft', 'pct_clean_strts',
       'pct_lot_area_open_space', 'pct_lot_area_public_facility_institution',
       'pct_lot_area_res_1_2_family_bldg',
       'pct_lot_area_res_multifamily_walkup', 'restaurant', 'business'],
      dtype='object')

In [370]:
merge_final[['Year', 'Month', 'Year_Month_y']]

      Year  Month Year_Month_y Year_Month_y
0     2016     11      2016-11      2016-11
1     2016     12      2016-11      2016-12
2     2017      1      2016-11      2017-01
3     2017      2      2016-11      2017-02
4     2017      3      2016-11      2017-03
...    ...    ...          ...          ...
3476  2017     12      2021-09      2017-12
3477  2018      1      2021-09      2018-01
3478  2018      2      2021-09      2018-02
3479  2018      3      2021-09      2018-03
3480  2018      4      2021-09      2018-04

[3481 rows x 4 columns]

In [366]:
first_column = merge_final.pop('Year_Month_y')
merge_final.insert(0, 'Year_Month', first_column)

KeyError: 'Year_Month'

In [ ]:
merge_final.head()

,Year_Month,CD,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,fs_openhours,fs_open,trs_permits,paper_baskets,...,numbldgs,unitstotal,asland_sqft,pct_clean_strts,pct_lot_area_open_space,pct_lot_area_public_facility_institution,pct_lot_area_res_1_2_family_bldg,pct_lot_area_res_multifamily_walkup,restaurant,business
0,2016-11,BK01,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,9.0,...,25111.0,97606.0,10.58202,98.0,6.02,16.86,14.19,15.18,2577.0,1408.0
1,2016-11,BK01,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,9.0,...,25111.0,97606.0,10.58202,98.0,6.02,16.86,14.19,15.18,2577.0,1408.0
2,2016-11,BK01,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,9.0,...,25111.0,97606.0,10.58202,98.0,6.02,16.86,14.19,15.18,2577.0,1408.0
3,2016-11,BK01,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,9.0,...,25111.0,97606.0,10.58202,98.0,6.02,16.86,14.19,15.18,2577.0,1408.0
4,2016-11,BK01,5250.4,527.8,402.8,16.9,333.25,6.0,14.0,9.0,...,25111.0,97606.0,10.58202,98.0,6.02,16.86,14.19,15.18,2577.0,1408.0

In [ ]:
merge_final.shape

(3481, 45)

In [ ]:
merge_final.to_csv('final_data.csv')

In [ ]:
merge_final[merge_final['pct_lot_area_res_1_2_family_bldg'].isna()]

,Year_Month,CD,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,fs_openhours,fs_open,trs_permits,paper_baskets,...,numbldgs,unitstotal,asland_sqft,pct_clean_strts,pct_lot_area_open_space,pct_lot_area_public_facility_institution,pct_lot_area_res_1_2_family_bldg,pct_lot_area_res_multifamily_walkup,restaurant,business
838,2018-01,BK15,4095.3,603.4,505.9,90.7,51.6,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839,2018-01,BK15,4095.3,603.4,505.9,90.7,51.6,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,2018-01,BK15,4095.3,603.4,505.9,90.7,51.6,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,2018-01,BK15,4095.3,603.4,505.9,90.7,51.6,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,2018-01,BK15,4095.3,603.4,505.9,90.7,51.6,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3338,2021-07,QN14,3735.9,294.4,335.1,0.0,111.8,1.0,0.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3339,2021-07,QN14,3735.9,294.4,335.1,0.0,111.8,1.0,0.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3340,2021-07,QN14,3735.9,294.4,335.1,0.0,111.8,1.0,0.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3341,2021-07,QN14,3735.9,294.4,335.1,0.0,111.8,1.0,0.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3342,2021-07,QN14,3735.9,294.4,335.1,0.0,111.8,1.0,0.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
lu['CD'].nunique()

59

In [ ]:
lu[(lu['Year_Month']=='2018-01')]

,month,CD,numbldgs,unitstotal,asland_sqft,pct_clean_strts,pct_lot_area_open_space,pct_lot_area_public_facility_institution,pct_lot_area_res_1_2_family_bldg,pct_lot_area_res_multifamily_walkup,restaurant,business,Year_Month
826,2018-01-01,MN01,1760,55988,79.282161,100.0,4.35,31.68,0.17,0.63,3295,611,2018-01
827,2018-01-01,MN02,5375,72165,100.324753,98.7,3.55,9.63,4.47,10.26,1271,853,2018-01
828,2018-01-01,MN03,4708,94059,58.236802,93.4,14.95,11.15,0.32,8.66,580,744,2018-01
829,2018-01-01,MN04,3923,100090,105.402387,100.0,2.81,11.75,0.88,7.68,964,903,2018-01
830,2018-01-01,MN05,3190,95425,516.066825,100.0,1.59,6.49,0.09,0.67,270,1809,2018-01
831,2018-01-01,MN06,3119,113073,200.085586,97.3,3.29,16.30,1.78,4.60,2028,746,2018-01
832,2018-01-01,MN07,4779,136570,114.734033,100.0,19.14,10.24,2.16,10.88,1143,721,2018-01
833,2018-01-01,MN08,6086,159585,178.808447,98.4,2.42,13.79,5.67,9.17,965,1009,2018-01
834,2018-01-01,MN09,2634,48590,24.391588,97.3,15.52,23.27,2.43,10.64,205,293,2018-01
835,2018-01-01,MN10,4849,63635,25.096311,91.9,6.30,14.53,4.14,20.61,952,380,2018-01
836,2018-01-01,MN11,3314,60777,17.090215,96.5,42.54,10.63,0.36,5.08,328,410,2018-01
837,2018-01-01,MN12,2921,76778,16.926624,92.1,41.45,9.19,0.50,9.47,267,664,2018-01
838,2018-01-01,QN01,4386,41918,6.707589,86.0,6.48,10.61,5.77,7.42,87,428,2018-01
839,2018-01-01,QN02,3283,21902,5.496920,81.3,2.67,5.76,4.16,6.01,376,320,2018-01
840,2018-01-01,QN03,3713,36803,7.527635,83.7,20.85,12.42,10.23,12.41,618,257,2018-01
841,2018-01-01,QN04,3387,57385,9.660092,89.2,15.89,12.24,4.44,12.29,21,563,2018-01
842,2018-01-01,QN05,3505,53388,9.995915,89.1,6.70,15.95,11.95,16.63,259,521,2018-01
843,2018-01-01,QN06,4575,35928,6.536663,77.6,24.81,18.50,8.14,12.64,142,399,2018-01
844,2018-01-01,QN07,4149,54899,10.307626,83.0,7.31,21.50,9.48,14.65,239,432,2018-01
845,2018-01-01,QN08,5542,46626,6.242402,100.0,8.55,18.36,26.62,4.32,124,278,2018-01
846,2018-01-01,QN09,13742,67092,5.398122,87.9,12.89,6.34,21.49,13.91,28,507,2018-01
847,2018-01-01,QN10,20518,52136,4.469869,100.0,19.86,11.12,33.07,6.72,327,487,2018-01
848,2018-01-01,QN11,15417,54969,6.212756,100.0,0.71,17.12,39.36,8.51,173,541,2018-01
849,2018-01-01,QN12,24965,57877,4.759780,76.9,21.02,6.20,36.12,11.40,509,569,2018-01
850,2018-01-01,BX01,17147,100971,10.784270,86.4,5.19,5.33,5.25,16.90,217,847,2018-01
851,2018-01-01,BX02,8792,92363,24.909960,89.1,8.15,14.05,8.52,12.44,268,561,2018-01
852,2018-01-01,BX03,17291,75550,7.386303,80.1,3.58,11.83,24.01,27.90,310,505,2018-01
853,2018-01-01,BX04,11669,45929,6.324433,88.4,15.64,8.36,19.96,30.00,296,495,2018-01
854,2018-01-01,BX05,23842,80991,7.760996,98.8,12.88,7.57,26.48,10.95,192,714,2018-01
855,2018-01-01,BX06,14401,60480,10.199186,100.0,5.73,5.08,13.75,21.20,116,515,2018-01
856,2018-01-01,BX07,14707,46647,7.683347,97.3,27.88,3.59,15.65,11.21,1393,713,2018-01
857,2018-01-01,BX08,8429,50436,8.658654,83.5,5.29,9.95,18.84,31.79,4199,309,2018-01
858,2018-01-01,BX09,8839,42765,9.358657,98.7,1.71,19.59,32.61,15.47,4118,225,2018-01
859,2018-01-01,BX10,24361,57029,6.870534,98.9,22.85,14.79,36.09,9.88,2700,612,2018-01
860,2018-01-01,BX11,29624,74361,7.254459,93.6,2.49,4.12,43.75,27.28,3827,997,2018-01
861,2018-01-01,BX12,25105,66549,9.396410,98.9,5.81,7.06,39.34,21.96,1870,878,2018-01
862,2018-01-01,BX13,8169,49603,8.753933,100.0,25.05,7.49,13.61,7.44,1750,513,2018-01
863,2018-01-01,BX14,17127,65900,9.960139,90.0,3.52,8.41,47.17,9.79,2433,629,2018-01
864,2018-01-01,BX15,30913,70473,7.826134,99.0,3.81,8.83,51.53,8.31,420,800,2018-01
865,2018-01-01,BX16,8704,38764,8.540645,61.7,5.28,9.11,22.29,20.62,628,300,2018-01
866,2018-01-01,BX17,25238,61225,8.589273,100.0,7.51,6.86,42.64,18.29,431,541,2018-01
867,2018-01-01,BX18,45221,69278,12.144690,95.5,22.46,4.64,45.25,5.38,1111,701,2018-01
868,2018-01-01,BK01,25111,97606,10.582020,98.0,6.02,16.86,14.19,15.18,2577,1165,2018-01
869,2018-01-01,BK02,12363,80837,12.656555,99.1,20.68,3.54,10.44,7.65,1191,672,2018-01
870,2018-01-01,BK03,19654,57898,17.828667,100.0,1.93,6.63,43.21,18.58,1307,805,2018-01
871,2018-01-01,BK04,15015,57551,12.432467,98.3,2.66,6.89,27.05,27.85,863,686,2018-01
872,2018-01-01,BK05,41856,71798,5.872876,97.3,31.04,2.50,30.91,9.87,807,1028,2018-01
873,2018-01-01,BK06,14646,59316,12.973646,98.8,1.93,6.25,46.94,4.13,601,437,2018-01
874,2018-01-01,BK07,49724,109482,6.943023,99.4,13.24,7.07,42.47,7.90,1056,1215,2018-01
875,2018-01-01,BK08,30521,63878,8.353599,99.0,19.88,10.87,43.10,12.80,168,475,2018-01
876,2018-01-01,BK09,29726,49766,7.044310,97.9,4.51,4.51,55.94,10.36,348,880,2018-01
877,2018-01-01,BK10,37478,42176,4.640499,100.0,19.73,2.60,55.79,5.11,218,729,2018-01
878,2018-01-01,BK11,39940,47723,8.682651,100.0,19.93,4.95,54.85,10.78,448,442,2018-01
879,2018-01-01,BK12,60174,86108,6.324632,96.6,6.13,7.05,59.01,2.94,154,1192,2018-01
880,2018-01-01,BK13,71203,65801,5.460407,98.1,11.31,7.98,61.24,5.19,63,705,2018-01
881,2018-01-01,BK14,21576,48176,4.736435,93.8,18.39,5.12,41.66,4.15,120,260,2018-01
882,2018-01-01,SI01,49963,75133,3.786583,99.1,9.62,7.36,43.86,4.77,161,1010,2018-01
883,2018-01-01,SI02,41093,54433,4.140636,100.0,21.05,10.92,27.85,2.17,100,770,2018-01
884,2018-01-01,SI03,53118,63552,3.426986,100.0,17.96,4.60,40.90,1.30,92,758,2018-01